includes:
  - ./vendor/nunomaduro/larastan/extension.neon

parameters:
  level: 8
  paths:
    - src/app
    - src/tests
  treatPhpDocTypesAsCertain: false
  checkMissingIterableValueType: false
  tmpDir: /tmp/phpstan-focusnfe
